@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@200;300;400;500&family=Lato:wght@100;300;400&family=Montserrat:wght@100;200;300;400;500;600&display=swap');
 

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
    color: #455a64;
}

main {
    flex: 1 0 auto;
  }

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: 3px;
    color: #455a64; 
}

h2 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 1px;
    color: #455a64;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #455a64;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #ff8a65;
}

h5 {
    font-family: 'Gluten', cursive;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #ff8a65;
}

/*----------navbar-----------*/

/* changing the text color on navbar:
https://stackoverflow.com/questions/33746269/changing-the-text-color-on-a-nav-bar-using-materialize-css-rails */

nav ul li a{
    color: #455a64;
  } 

nav a i{
    color: #455a64;
  } 

  nav {
    box-shadow: none;
}

.menu {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
  }

  .menu a:hover {
    color: #ff8a65;
    background-color: transparent;
  }
  
  .brand-logo {
    text-transform: uppercase;
    font-family: 'Gluten', cursive;
    color: #ff8a65;
}

.logo {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-left: 5px;
}

/*----------index page-----------*/

.heading {
    text-align: center;
    font-size: 54px;
}

.sub-heading{
    text-align: center;
    padding-top: 2rem;
    
  
}
.hero-image {
    height: 100vh;
}
/*----------recipes-----------*/

.recipe-image {
    width:  300px;
    height: 300px;
    object-fit: cover;
}
.card {
   
}

.pagination li.active{
    background-color: #ff8a65 !important;
}

form a .btn{
    background-color:;
}
/*----------buttons-----------*/

.btn {
    margin: 10px;
    background-color: #ff8a65 !important;
}


/*----------footer----------*/

