@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Montserrat:wght@100;200;300;400;500;600&display=swap');

body {
    background-color: #F6F4D2;
}


.nav-color{
    background-color: rgb(203, 223, 189)
}

.btn-small {
    margin: 10px;
}