{% extends "base.html" %}
{% block content %}


    {% for recipe in recipes %}
    {{ recipe.recipe_name }}<br>
    {{ recipe.category_name }}<br>
    {{ recipe.ingredients }}<br>
    {{ recipe.instructions }}<br>
{% endfor %}

<h3 class="center-align">Recipes</h3>

<div class="row">
    {% for recipe in recipes %}
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/office.jpg">
        </div>
        <div class="card-content">
            {{ recipe.category_name }}
            <span class="card-title activator grey-text text-darken-4"> {{ recipe.recipe_name }}<i class="fas fa-utensils"></i></span>
            <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Ingredients</span>
            <li>{{ recipe.ingredients }}</li>
            <span class="card-title grey-text text-darken-4">Instructions</span>
            <li>{{ recipe.instructions }}</li>

            <div>
                {% if session.user|lower == recipe.created_by|lower %}
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small grey">Edit</a>
                {% endif %}
            </div>
            <p><em>by: {{recipe.created_by}}</em></p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}